@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.imc-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "SN Pro", sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 
}
.imc-card{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 7px;
    padding: 50px 40px;
    min-width: 480px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.7);
}